{% extends "base.html" %} 
{% block title %}Edit {{ question.title }} - {% endblock title %}

{% block content %}
<h1 class="text-2xl font-bold text-center">Edit Question</h1>
<form method="POST" action="{% url 'questions:edit_question' question.slug %}">
  {% csrf_token %} {{ form.as_p }}

  <div class="flex gap-2 items-center">
    <button type="submit" class="btn btn-primary">Update</button>
    <a
      href="{% url 'questions:question_detail' question.slug %}"
      class="btn btn-secondary"
      >Cancel</a
    >
  </div>
</form>

{% endblock %}
