{% extends "base.html" %} {% block content %}
<section>
  <h1 class="text-3xl font-bold">{{ question.title }}</h1>
  <p class="text-base-content/70 my-4">{{ question.body }}</p>

  <small class="text-base-content/50"
    ><time>{{ question.created_at }}</time></small
  >
  <p class="text-base-content/70">
    Asked by <b>{{ question.author.username }}</b>
  </p>
</section>

<div class="divider"></div>

<section class="mt-6">
  <div class="mt-5">
    <h2 class="text-2xl font-bold">Submit an Answer</h2>

    {% if user.is_authenticated %}
    <form
      method="POST"
      action="{% url 'answers:answer_question' question.id %}"
      class="mt-4"
    >
      {% csrf_token %} {{ answer_form.as_p }}
      <button type="submit" class="btn btn-primary">Submit Answer</button>
    </form>
    {% else %}
    <p>You must be logged in to submit an answer.</p>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>

  <div class="divider"></div>

  {% if answers %}
  <h2 class="text-2xl font-bold mt-5">Answers</h2>
  <ul class="mt-4">
    {% for answer in answers %}
    <li
      class="flex flex-col gap-2 mb-4 group bg-base-200 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300"
    >
      <p>{{ answer.body }}</p>

      <div class="flex items-center gap-2 mt-1">
        <p class="text-base-content/70">
          Answered by <b>{{ answer.author.username }}</b>
        </p>
        {% comment %} dot {% endcomment %} &bull;
        <small class="text-base-content/50"
          ><time>{{ answer.created_at }}</time></small
        >
      </div>

      <form
        method="POST"
        onsubmit="likeAnswer(event, {{ answer.id }})"
        class="flex items-center gap-2 mt-2"
      >
        {% csrf_token %}
        <button
          id="like-btn-{{ answer.id }}"
          class="btn btn-secondary {% if not answer.has_liked %}btn-outline{% endif %} btn-sm mr-auto"
          type="submit"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            class="fill-current"
          >
            <path
              d="M20.205 4.791a5.938 5.938 0 0 0-4.209-1.754A5.906 5.906 0 0 0 12 4.595a5.904 5.904 0 0 0-3.996-1.558 5.942 5.942 0 0 0-4.213 1.758c-2.353 2.363-2.352 6.059.002 8.412L12 21.414l8.207-8.207c2.354-2.353 2.355-6.049-.002-8.416z"
            ></path>
          </svg>
          <span id="like-text-{{ answer.id }}">
            {{ answer.like_count }} {{answer.like_count|pluralize:"Like,Likes"}}
          </span>
        </button>
      </form>
    </li>
    {% endfor %}
  </ul>
  {% include "components/pagination.html" with page=answers %} {% else %}

  <div class="my-5 text-center">
    <strong>No answers available.</strong>
    <p>Be the first to answer this question!</p>
  </div>
  {% endif %}
</section>
<script>
  function getCSRFToken() {
    const name = "csrftoken";
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(";").shift();
  }

  function likeAnswer(event, answerId) {
    event.preventDefault();

    const btn = document.getElementById(`like-btn-${answerId}`);
    const text = document.getElementById(`like-text-${answerId}`);
    const csrfToken = getCSRFToken();

    fetch(`/answers/like/${answerId}/`, {
      method: "POST",
      headers: {
        "X-CSRFToken": csrfToken,
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.has_liked) {
          btn.classList.remove("btn-outline");
        } else {
          btn.classList.add("btn-outline");
        }
        const likeCount = data.like_count;
        text.innerText = `${likeCount} ${likeCount > 1 ? "Likes" : "Like"}`;
        if (likeCount === 0) {
          text.innerText = "0 Likes";
        }
      })
      .catch((error) => alert("Please log in to like this answer"));
  }
</script>

{% endblock %}
